@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.family-font h1,
h2,
h3,
h4 {
    font-family: 'Baloo Bhai 2';
    font-weight: bold
}

.family-font span,
p {
    font-family: 'Open Sans', sans-serif
}

.family-font a {
    font-family: 'Open Sans', sans-serif
}

.btn {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold
}