<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-sm-12 col-xs-12">
            <div class="card p-4 p-md-4 my-4 mx-3 mx-md-0 text-white">
                <h6>Hi!</h6>
                <p>One of our consultants will assist you as soon as they can!</p>
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group"> <label> Mail </label> <input type="EMAIL" class="form-control" [(ngModel)]="l.emailP" [ngModelOptions]="{standalone: true}"> </div>
                    <div class="form-group"> <label> Mail </label> <input type="email" class="form-control"[(ngModel)]="l.emailS" [ngModelOptions]="{standalone: true}"> </div>
                    
                    <div class="form-group"> <label> Message </label> <textarea type="text" height="30px" class="form-control" [(ngModel)]="l.message" [ngModelOptions]="{standalone: true}"> </textarea></div> <button type="submit" class="col-12 btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>