@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #dde3fb;
    display: grid;
    place-items: center
}

.card {
    background-color: #141414;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif
}

h6,
p,
form {
    color: #bbbaba;
    font-size: 0.9rem
}

.form-control {
    background-color: #a7a1a1;
    border: 1px solid #545454
}

.form-control:focus {
    color: #041b31;
    background-color: #d8c8c8;
    border: 0px;
    outline: 0
}

.btn {
    background-color: #5b72d8;
    border-radius: 4px;
    border: 0px
}

.btn:focus,
.btn:hover {
    background-color: #6d84ea;
    border: 0px;
    outline: none;
    box-shadow: none
}

*:focus {
    outline: none
}