<div class="limiter" id="login">
    <div class="container-login100" style="background-image:url(https://thumbs.dreamstime.com/b/volunteering-donations-set-happy-woman-man-hearts-concept-volunteering-romantic-relationship-people-hold-186915292.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="login_topimg"> </div>
                    <div class="wrap-login100">
                        <form class="login100-form validate-form"  (ngSubmit)="onSubmit()"> <span class="login100-form-title "> Registre </span> <span class="login100-form-subtitle m-b-16"> create account </span>
                            <fieldset> <input [(ngModel)]="l.cin" [ngModelOptions]="{standalone: true}"class="input100" type="text" name="cin" placeholder="Identity Card"> </fieldset>
                            <fieldset> <input  [(ngModel)]="l.nom" [ngModelOptions]="{standalone: true}" class="input100" type="text" name="nom" placeholder="Name">  </fieldset>
                                <fieldset> <input [(ngModel)]="l.prenom" [ngModelOptions]="{standalone: true}" class="input100" type="text" name="prenom" placeholder="Surname">  </fieldset>
                                    <fieldset> <input  [(ngModel)]="l.email" [ngModelOptions]="{standalone: true}" class="input100" type="text" name="email" placeholder="Email">  </fieldset>
                                        <fieldset> <input  [(ngModel)]="l.password" [ngModelOptions]="{standalone: true}" class="input100" type="password" name="pass" placeholder="Password"> </fieldset>
                                            <fieldset> <input class="input100" type="password" name="pass" placeholder="Confirm Password"> </fieldset>
                                            <div class="flex-sb-m w-full p-b-30">
                                                <div class="contact100-form-checkbox"> <input [(ngModel)]="l.DTYPE" class="input-checkbox100" id="ckb" type="checkbox" name="Association" checked> <label class="label-checkbox100" for="ckb1"> Association </label> </div>
                                                <div class="contact100-form-checkbox"> <input  [(ngModel)]="l.DTYPE" class="input-checkbox100" id="ckb1" type="checkbox" name="Donateur"> <label class="label-checkbox100" for="ckb1"> Donateur </label> </div>
                                                
                                            </div>
                                            <div class="flex-sb-m w-full p-b-30">
                                                <div class="container-login100-form-btn p-t-25"> <button  class="login100-form-btn"> Registre  </button> </div>
                                                <div class="container-login100-form-btn p-t-25">  <a href="#" class="txt1" routerLink="../login"><button class="login100-form-btn" type="submit" > Cancel </button> </a> </div>
                                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
