<!doctype html>
<html>

<div class="container" >
    <form id="contactus" (ngSubmit)="onSubmit()" >
        <h3>Add a acte of charity </h3>
        <fieldset> <input placeholder="Reference " [(ngModel)]="l.reference" [ngModelOptions]="{standalone: true}" type="text" tabindex="1" id="ref"required autofocus> </fieldset>
    
        <fieldset> <textarea placeholder="Statut" tabindex="5" [(ngModel)]="l.statut" required id="sat" [ngModelOptions]="{standalone: true}"></textarea> </fieldset>
        <fieldset> <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending">Add Now</button>
            <a href="#" routerLink="../donation"> <p name="text">Cancel </p></a> </fieldset>
    </form>
</div>
</html>