.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem !important
}

.card-sub {
    cursor: move;
    border: none;
    width: 100%;
    height: 600px;
}

.card-img-top {
    width: 100%;
    height: 180px;
    align-content: center;
}

.card-block {
    padding: 1.25rem;
    background-color: #fff !important
}
body {
    background-color: #f1f1f2
}

.home-info-grey {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f1f1f2
}

.home-info-grey h2 {
    color: var(--black);
    font-weight: 700;
    font-size: 16px;
    font-style: italic
}

.home-info-grey p {
    color: #626163;
    font-weight: 500;
    font-size: 16px
}

.drop-cap {
    margin-right: 25px;
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 50px
}

.drop-cap-letter {
    color: #ff8700;
    font-size: 90px;
    font-weight: 700
}

.drop-cap-text {
    color: #231833;
    font-size: 34px;
    font-weight: 500
}