<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-sm-12">
              
               

                                <section class="home-info-grey">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <h2>What We Believe</h2>
                                                <p>Charity land is a platform that facilitates the management of all
                                                    information about the different charity associations.
                                                    
                                                    This platform will be dedicated to the general interest: individuals, associations or companies can
                                                    present solidarity projects, social innovation, sustainable development,
                                                    promotion of culture or commons and fundraising online from the public.
                                                   
                                                    The aim of "Charitiy Land" is also to connect charities with
                                                    donors..</p>
                                            </div>
                                            <div class="col-md-5 drop-cap-text"> <span class="drop-cap"><span class="drop-cap-letter">“T</span></span> he  right words at the right time are actions. " </div>
                                        </div>
                                    </div>
                                </section>
                                 
                                        
                               
                           
            </div>
        </div>
    </div>
</div>