<div class="container-fluid mt-5 pt-5 ">
    <div class="row justify-content-center row-1">
        <div class="col-lg-5 col-md-7 col-sm-9 ">
            <p><b>STILL NOT CONVINCED? SO TAKE LOOK WHAT PEOPLE SAID IN THE MEDIA </b></p>
            <div id="carouselExampleIndicators" class="carousel slide d-flex" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="card border-0 ">
                            <div class="card-body text-center ">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-text bold text-center">"I believe that one defines oneself by reinvention. To not be like your parents. To not be like your friends. To be yourself. To cut yourself out of stone." </h5>
                                        <h6 class="mt-5"><b>Business Insider</b></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="card border-0 ">
                            <div class="card-body text-center ">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-text bold text-center">"I believe that one defines oneself by reinvention. To not be like your parents. To not be like your friends. To be yourself. To cut yourself out of stone." </h5>
                                        <h6 class="mt-5"><b>Business Insider</b></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card border-0 ">
                            <div class="card-body text-center ">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-text bold text-center">"I believe that one defines oneself by reinvention. To not be like your parents. To not be like your friends. To be yourself. To cut yourself out of stone." </h5>
                                        <h6 class="mt-5"><b>Business Insider</b></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="ml-xl-5 ml-md-4 ml-3 ">
        <div class="row justify-content-end">
            <div class=" col-12">
                <div class="row pt-5">
                    <div class="col-xl-4 col-12 mr-auto">
                        <div class="media flex-sm-row flex-column "> <img class="align-self-center img-fluid mobile-img " src="https://i.imgur.com/unD7BGU.png">
                            <div class="media-body">
                                <h4 class="mb-4 bonify">b<span><i class="fa fa-firefox text-light" aria-hidden="true"></i></span>nify</h4>
                                <h5 class="description-img"><b>We make all the count for you count for us.</b></h5><img src="https://cdn.shopify.com/s/files/1/1177/9056/files/1432-tuev-toxproof.jpg?2860823755569098971" class="img-fluid logo">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 my-auto ">
                        <div class="row justify-content-around">
                           
                            <div class="col-md-auto col-12">
                                <ul class="list-unstyled text-muted">
                                    
                                        <li><i class="fa fa-facebook fa-2x"></i></li>
                                        <li><i class="fa fa-twitter fa-2x"></i></li>
                                        <li><i class="fa fa-linkedin fa-2x"></i></li>
                                        <li><i class="fa fa-instagram fa-2x"></i></li>
                                    
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 bottom-row justify-content-between">
                    <div class="col-auto ml-2 "><small>Made with ❤️ &#9400; bonify Inc 2019</small></div>
                    <div class="col-sm-auto mr-sm-4 my-auto pt-sm-0 pt-3 ">
                        <p><span><i class="fa fa-instagram" aria-hidden="true"></i></span> <span><i class="fa fa-twitter" aria-hidden="true"></i></span> <span><i class="fa fa-facebook" aria-hidden="true"></i></span> <span><i class="fa fa-linkedin" aria-hidden="true"></i></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>