@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    padding: 0;
    margin: 0
}

body {
    background-color: #000
}

.content-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

ul {
    display: flex;
    list-style: none
}

@media (max-width:700px) {
    ul {
        display: block
    }
}

ul li {
    margin: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    position: relative
}

ul li i {
    transition: all 0.3s linear
}

ul li::after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 3px;
    background-color: red;
    opacity: 0;
    z-index: -1;
    color: #fff;
    transition: all 0.3s linear
}

ul li:hover i {
    color: #fff;
    font-size: 17px
}

ul li:hover::after {
    opacity: 1;
    transform: scale(0.8)
}

ul li::after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 3px;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s linear
}

ul li:nth-child(1) {
    border: 2px solid #3b5998;
    color: #3b5998
}

ul li:nth-child(1)::after {
    background-color: #3b5998;
    color: #3b5998
}

ul li:nth-child(2) {
    border: 2px solid #00aced;
    color: #00aced
}

ul li:nth-child(2)::after {
    background-color: #00aced;
    color: #00aced
}

ul li:nth-child(3) {
    border: 2px solid #007bb6;
    color: #007bb6
}

ul li:nth-child(3)::after {
    background-color: #007bb6;
    color: #007bb6
}

ul li:nth-child(4) {
    border: 2px solid #dd4b39;
    color: #dd4b39
}

ul li:nth-child(4)::after {
    background-color: #dd4b39;
    color: #dd4b39
}
body {
    font-family: 'Muli', sans-serif;
    height: 100% !important;
    background-color: #fff !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    color: #000 !
}

.row-1 p {
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
    text-align: center;
    color: #2CB8FE
}

h5 {
    font-size: calc(16px + (22 - 16) * ((100vw - 360px) / (1600 - 360))) !important
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    margin: -30px 15px 0px 15px !important;
    color: #333;
    background-color: #333 !important;
    top: 50px !important;
    position: relative
}

.carousel-inner {
    border-radius: 15px !important
}

.card {
    color: #383431 !important;
    background-color: #FFFFFF !important
}

.bonify {
    font-weight: 600;
    letter-spacing: 2px !important;
    cursor: pointer
}

.bottom-row {
    color: #aaaaaa
}

i {
    font-size: 25px !important;
    margin-left: calc(15px + (24 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    cursor: pointer
}

.fa-firefox {
    font-size: 19px !important;
    color: #000 !important;
    margin: 0 !important;
    cursor: pointer
}

.description-img {
    color: #2CB8FE;
    cursor: pointer
}

.logo {
    height: calc(70px + (100 - 70) * ((100vw - 360px) / (1600 - 360))) !important;
    width: calc(90px + (134 - 90) * ((100vw - 360px) / (1600 - 360))) !important
}

.mobile-img {
    width: calc(200px + (234 - 200) * ((100vw - 360px) / (1600 - 360))) !important;
    height: calc(200px + (234 - 200) * ((100vw - 360px) / (1600 - 360))) !important
}

li {
    font-size: calc(15px + (18 - 15) * ((100vw - 360px) / (1600 - 360))) !important
}

.row-1 {
    margin-bottom: calc(100px + (150 - 100) * ((100vw - 360px) / (1600 - 360))) !important
}