body {
    background: #eee
}

.header2 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300
}

.header2.bg-success-gradiant {
    background: #6087dd;
    background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #6087dd 100%);
    background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#6087dd));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #6087dd 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #6087dd 0%, #1dc8cc 100%)
}

.header2 .font-12 {
    font-size: 12px
}

.header2 .dropdown-item {
    padding: 8px 1rem;
    color: #8d97ad
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link {
    padding: 12px 0px;
    color: #ffffff;
    font-weight: 400
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
    color: #751d1d
}

.header2 .h2-nav .navbar-nav .nav-item {
    margin: 0 20px
}

@media (min-width: 1024px) {
    .header2 .navbar-nav>.dropdown .dropdown-menu {
        min-width: 210px;
        margin-top: 0px
    }
}

@media (min-width: 1024px) {
    .header2 .dropdown-submenu:hover>.dropdown-menu {
        display: block
    }
}

.header2 .dropdown-toggle::after {
    display: none
}

@media (min-width: 1024px) {
    .header2 .hover-dropdown .navbar-nav>.dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0px
    }
}

.header2 .btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.header2 .btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}

.header2 .h2-nav .navbar-nav .nav-item .btn {
    opacity: 0.5
}

.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
    opacity: 1
}

.header2 .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0;
    border-radius: 0.25rem;
    display: none
}