<!doctype html>
<div class="header2 bg-success-gradiant">
    <div class="">
        <!-- Header 1 code -->
        <nav class="navbar navbar-expand-lg h2-nav"> <a class="navbar-brand" routerLink="./about" >CHARITY LAND</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header2" aria-controls="header2" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-menu"></span> </button>
            <div class="collapse navbar-collapse hover-dropdown" id="header2">
                <ul class="navbar-nav">
                    <li class="nav-item active" routerLinkActive="active"><a class="nav-link"  routerLink="./home">Home</a></li>
                    <li class="nav-item dropdown position-relative"> <a class="nav-link dropdown-toggle" href="#" id="h2-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> act of charity <i class="fa fa-angle-down ml-1 font-12"></i> </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a class="dropdown-item" href="#">One more separated link</a></li>
                            <li class="dropdown-submenu position-relative"> <a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#">Dropdown <i class="fa fa-long-arrow-right float-right mt-1"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li class="dropdown-submenu position-relative"> <a class="dropdown-toggle dropdown-item" href="#" data-toggle="dropdown">Dropdown <i class="fa fa-long-arrow-right float-right mt-1"></i></a>
                                        <ul class="nav navbar-nav dropdown-menu">
                                            <li class="dropdown-submenu position-relative"> <a class="dropdown-toggle dropdown-item" href="#" data-toggle="dropdown">Dropdown <i class="fa fa-long-arrow-right float-right mt-1"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                             
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" routerLinkActive="active"><a class="nav-link"  routerLink="./services">Services</a></li>
                    <li class="nav-item" routerLinkActive="active"><a class="nav-link"  routerLink="./donation">Make a donation</a></li>
                    <li class="nav-item" routerLinkActive="active"><a class="nav-link"  routerLink="./about">About Us</a></li>
                    <li class="nav-item" routerLinkActive="active"><a class="nav-link"  routerLink="./contact">Contact</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="#"><i class="icon-bubble"></i> Need help?</a></li>
                    <li class="nav-item active" ><a class="nav-link" routerLink="./profil" >Profil</a></li>
                    <li class="nav-item"><a class="btn rounded-pill btn-dark py-2 px-4" href="#" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </nav> <!-- End Header 1 code -->
    </div>
</div>